<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eebbk.onlinepointread.mapper.BookshelfDOMapper">
  <resultMap id="BaseResultMap" type="com.eebbk.onlinepointread.domain.BookshelfDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="business_book_id" jdbcType="BIGINT" property="businessBookId" />
    <result column="is_cancel" jdbcType="INTEGER" property="isCancel" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, business_book_id, is_cancel, creat_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bookshelf
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_bookshelf
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eebbk.onlinepointread.domain.BookshelfDO">
    insert into t_bookshelf (id, user_id, business_book_id, 
      is_cancel, creat_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{businessBookId,jdbcType=BIGINT}, 
      #{isCancel,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eebbk.onlinepointread.domain.BookshelfDO">
    insert into t_bookshelf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="businessBookId != null">
        business_book_id,
      </if>
      <if test="isCancel != null">
        is_cancel,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="businessBookId != null">
        #{businessBookId,jdbcType=BIGINT},
      </if>
      <if test="isCancel != null">
        #{isCancel,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eebbk.onlinepointread.domain.BookshelfDO">
    update t_bookshelf
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="businessBookId != null">
        business_book_id = #{businessBookId,jdbcType=BIGINT},
      </if>
      <if test="isCancel != null">
        is_cancel = #{isCancel,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eebbk.onlinepointread.domain.BookshelfDO">
    update t_bookshelf
    set user_id = #{userId,jdbcType=VARCHAR},
      business_book_id = #{businessBookId,jdbcType=BIGINT},
      is_cancel = #{isCancel,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>